/*Before doing anything write the boiler plate given below, exactly!*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;

    /*Now to center this the main container*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-image: linear-gradient(135deg, rgb(145, 85, 239), rgb(44, 8, 99));
    /*Applying font family to everything*/
    font-family: "Lato";
}

/*css boiler platedone*/
#main-container{
    /* background-color: rgb(55, 15, 91); */
    background-color: white;
    width: 35rem;
    height: 15rem;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#header{
    color: rgb(113, 73, 177);
}

#welcome-text{
    margin-top: 0.55rem;
    text-align:center;
    padding-left: 1rem;
    padding-right: 1rem;

    color: rgb(113, 73, 177);
}

#login-btn{
    margin-top: 1.55rem;
    width: 4.5rem;
    height: 2.6rem;
    border: 0rem;
    border-radius: 0.55rem;
    /*adding cursor*/
    cursor: pointer;
    font-weight: bold;
    /* color:rgb(113, 73, 177); */

    color: white;
    /* Adding gradient to button*/
    background-image: linear-gradient(135deg, rgb(145, 85, 239), rgb(72, 22, 148));
    font-size: 0.8rem;

    font-family: "Lato";
}
#login-btn {
  transition: transform 0.3s ease-out;
}
#login-btn:hover{
    transform: scale(1.1);
}

