<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form method="post">
            <label for="user_name">Enter username:</label>
            <input type="text" id="user_name" placeholder="bob1123" name="username">
            <label for="user_pass">Enter password:</label>
            <input type="password" id="user_pass" placeholder="password here" name="userpass">

            <br>
            <input type="reset">
            <input type="submit">
        </form>
    </body>
</html>